<div class="categories">
    <div class="categories__section">
        <div class="categories__section-title">
            <h2 class="title is-2">Categories</h2>
        </div>
        <div class="categories__select select">
            <select name="subcategories" (change)="onFilterChange($event)">
                <option value="">Choose a subcategory</option>
                <option value="c">Type</option>
                <option value="g">Glass</option>
                <option value="i">Ingredient</option>
                <option value="a">Alcoholic</option>
          </select>
        </div>
        <div class="categories__section__items">
            <div class="categories__section__item" *ngFor="let category of filteredCategories | paginate: { itemsPerPage: 20, currentPage: p }" 
            (click)="onShowDrinksClick(category.name, category.subcategoryKey)">
                <div class="categories__section__item-col">
                    {{category.name}}
                </div>
                <div class="categories__section__item-col">
                    <span class="tag is-light">{{category.subcategoryName}}</span>
                </div>
            </div>
        </div>
    </div>
    <pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls>
</div>
