@import "variables";

.categories {
  &__section {
    &__items {
      background-color: $green-medium;
      margin-bottom: 20px;
      border-radius: 13px;
      cursor: pointer;
    }

    &__item {
      display: flex;
      border-bottom: 1px solid $grey-medium;
      padding: 10px 15px;

      &:first-child {
        &:hover {
          border-top-left-radius: 13px;
          border-top-right-radius: 13px;
        }
      }

      &:last-child {
        &:hover {
          border-bottom-left-radius: 13px;
          border-bottom-right-radius: 13px;
        }
      }

      &:hover {
        background-color: $green-darkest;
      }

      &:last-child {
        border-bottom: none;
      }

      &-col {
        flex: 1;

        &--title {
          font-weight: $weight-bold;
          color: $green;
        }

        &--placeholder {
          visibility: hidden;
        }

        &:last-child {
          flex: none;
        }
      }
    }
  }

  &__select {
    margin-bottom: 20px;
  }
}
