<div class="side-navigation">
    <div class="side-navigation__logo">
      {{title}}
    </div>
    <div class="side-navigation__cta">
      <ul>
        <li><a routerLink="/" routerLinkActive="active"><fa-icon [icon]="faHome"></fa-icon></a></li>
        <li>
          <a routerLink="/categories" routerLinkActive="active">
            <fa-icon [icon]="faGlassMartini"></fa-icon>
          </a>
        </li>
        <li>
          <a routerLink="/random-drink" routerLinkActive="active">
            <fa-icon [icon]="faDiceSix"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>