@import "variables";

main {
  margin-left: 0;
  padding: 15px 25px;
  background-color: $green-grey;
  min-height: 100vh;

  @media (min-width: $desktop) {
    margin-left: 132px;
    padding: 16px 56px;
  }
}
