@import "variables";

.detail {
  width: 70%;
  margin: 0 auto;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &-image {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      margin-right: 20px;
    }
  }
}
