        <div class="drink">
            <div class="container">
            <div class="drink__title">
                <h2 class="title is-2 has-text-primary">{{drink.strDrink}}</h2>
            </div>
            <div class="drink__image">
                <img src="{{drink.strDrinkThumb}}" alt="{{drink.strDrink}}">
            </div>
            <div class="columns">
                <div class="column">
                    <div class="drink__ingredients">
                        <div class="drink__ingredient"*ngIf="drink.strIngredient1">
                            <fa-icon [icon]="faGlassMartiniAlt"></fa-icon>
                            <div class="drink__ingredient-measure">{{drink.strMeasure1}}</div>
                            <div class="drink__ingredient-label">{{drink.strIngredient1}}</div>
                        </div>
                        <div class="drink__ingredient"*ngIf="drink.strIngredient2">
                            <fa-icon [icon]="faGlassMartiniAlt"></fa-icon>
                            <div class="drink__ingredient-measure">{{drink.strMeasure2}}</div>
                            <div class="drink__ingredient-label">{{drink.strIngredient2}}</div>
                        </div>
                        <div class="drink__ingredient"*ngIf="drink.strIngredient3">
                            <fa-icon [icon]="faGlassMartiniAlt"></fa-icon>
                            <div class="drink__ingredient-measure">{{drink.strMeasure3}}</div>
                            <div class="drink__ingredient-label">{{drink.strIngredient3}}</div>
                        </div>
                        <div class="drink__ingredient"*ngIf="drink.strIngredient4">
                            <fa-icon [icon]="faGlassMartiniAlt"></fa-icon>
                            <div class="drink__ingredient-measure">{{drink.strMeasure4}}</div>
                            <div class="drink__ingredient-label">{{drink.strIngredient4}}</div>
                        </div>
                        <div class="drink__ingredient"*ngIf="drink.strIngredient5">
                            <fa-icon [icon]="faGlassMartiniAlt"></fa-icon>
                            <div class="drink__ingredient-measure">{{drink.strMeasure5}}</div>
                            <div class="drink__ingredient-label">{{drink.strIngredient5}}</div>
                        </div>
                        <div class="drink__ingredient"*ngIf="drink.strIngredient6">
                            <fa-icon [icon]="faGlassMartiniAlt"></fa-icon>
                            <div class="drink__ingredient-measure">{{drink.strMeasure6}}</div>
                            <div class="drink__ingredient-label">{{drink.strIngredient6}}</div>
                        </div>
                        <div class="drink__ingredient"*ngIf="drink.strIngredient7">
                            <fa-icon [icon]="faGlassMartiniAlt"></fa-icon>
                            <div class="drink__ingredient-measure">{{drink.strMeasure7}}</div>
                            <div class="drink__ingredient-label">{{drink.strIngredient7}}</div>
                        </div>
                        <div class="drink__ingredient"*ngIf="drink.strIngredient8">
                            <fa-icon [icon]="faGlassMartiniAlt"></fa-icon>
                            <div class="drink__ingredient-measure">{{drink.strMeasure8}}</div>
                            <div class="drink__ingredient-label">{{drink.strIngredient8}}</div>
                        </div>
                        <div class="drink__ingredient"*ngIf="drink.strIngredient9">
                            <fa-icon [icon]="faGlassMartiniAlt"></fa-icon>
                            <div class="drink__ingredient-measure">{{drink.strMeasure9}}</div>
                            <div class="drink__ingredient-label">{{drink.strIngredient9}}</div>
                        </div>
                        <div class="drink__ingredient"*ngIf="drink.strIngredient10">
                            <fa-icon [icon]="faGlassMartiniAlt"></fa-icon>
                            <div class="drink__ingredient-measure">{{drink.strMeasure10}}</div>
                            <div class="drink__ingredient-label">{{drink.strIngredient10}}</div>
                        </div>
                        <div class="drink__ingredient"*ngIf="drink.strIngredient11">
                            <fa-icon [icon]="faGlassMartiniAlt"></fa-icon>
                            <div class="drink__ingredient-measure">{{drink.strMeasure11}}</div>
                            <div class="drink__ingredient-label">{{drink.strIngredient11}}</div>
                        </div>
                        <div class="drink__ingredient"*ngIf="drink.strIngredient12">
                            <fa-icon [icon]="faGlassMartiniAlt"></fa-icon>
                            <div class="drink__ingredient-measure">{{drink.strMeasure12}}</div>
                            <div class="drink__ingredient-label">{{drink.strIngredient12}}</div>
                        </div>
                        <div class="drink__ingredient"*ngIf="drink.strIngredient13">
                            <fa-icon [icon]="faGlassMartiniAlt"></fa-icon>
                            <div class="drink__ingredient-measure">{{drink.strMeasure13}}</div>
                            <div class="drink__ingredient-label">{{drink.strIngredient13}}</div>
                        </div>
                        <div class="drink__ingredient"*ngIf="drink.strIngredient14">
                            <fa-icon [icon]="faGlassMartiniAlt"></fa-icon>
                            <div class="drink__ingredient-measure">{{drink.strMeasure14}}</div>
                            <div class="drink__ingredient-label">{{drink.strIngredient14}}</div>
                        </div>
                        <div class="drink__ingredient"*ngIf="drink.strIngredient15">
                            <fa-icon [icon]="faGlassMartiniAlt"></fa-icon>
                            <div class="drink__ingredient-measure">{{drink.strMeasure15}}</div>
                            <div class="drink__ingredient-label">{{drink.strIngredient15}}</div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="drink__instructions">
                        <div class="drink__instructions-title">
                            <h3 class="title is-3 has-text-white">Instructions</h3>
                        </div>
                        <div class="drink__instructions-text">
                            {{drink.strInstructions}}
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

