@import "variables";

.categories-details {
  .back-link {
    a {
      display: block;
      color: $white;
      font-size: 16px;
      margin-bottom: 30px;

      &:hover {
        color: $green;
      }

      .ng-fa-icon {
        margin-right: 10px;
      }
    }
  }

  .drinks-list {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;

    &__item {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
      width: 33.3%;
      text-align: center;
      margin-bottom: 60px;
      cursor: pointer;

      @media (max-width: 475px) {
        width: 50%;
      }

      @media (min-width: $tablet) {
        width: 25%;
      }

      @media (min-width: $desktop) {
        width: 20%;
      }

      &-image {
        margin-bottom: 10px;

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }

      &-name {
        margin-bottom: 10px;
      }

      &-cta {
        background-color: $green;
        padding: 3px 20px;
        border-radius: 17px;
        color: $black;

        &:hover {
          background-color: $green-dark;
          color: $white;
        }
      }
    }
  }
}
