<div class="categories-details">
    <h2 class="title is-2">{{name}}</h2>
    <div class="back-link">
        <a routerLink="/categories" routerLinkActive="active">
            <fa-icon [icon]="faLongArrowAltLeft"></fa-icon>
            Back
        </a>
    </div>
    <div class="drinks-list">
        <div class="drinks-list__item" *ngFor="let drink of drinks | paginate: { itemsPerPage: 15, currentPage: p }" (click)="onShowDetailClick(drink.idDrink)">
            <div class="drinks-list__item-image">
                <img src="{{drink.strDrinkThumb}}" alt="{{drink.strDrink}}">
            </div>
            <div class="drinks-list__item-name">
                {{drink.strDrink}}
            </div>
            <div class="drinks-list__item-cta">
                Details
            </div>
        </div>
        <pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls>
    </div>
</div>