@import "variables";
@import "global-components/pagination";

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $grey;
$primary: $green;
$link: $green;

// Import only what you need from Bulma
@import "~node_modules/bulma/sass/utilities/_all";
@import "~node_modules/bulma/sass/base/_all";
@import "~node_modules/bulma/sass/elements/button";
@import "~node_modules/bulma/sass/elements/container";
@import "~node_modules/bulma/sass/elements/title";
@import "~node_modules/bulma/sass/form/_all";
@import "~node_modules/bulma/sass/components/navbar";
@import "~node_modules/bulma/sass/layout/hero";
@import "~node_modules/bulma/sass/layout/section";

$size-2: 46px !important;

body {
  color: $white !important;
}

h2 {
  color: $white !important;
  margin-bottom: 40px !important;
}
