@import "variables";
@import "global-components/pagination";
@import "base/fonts";

// Update Bulma's global variables
$family-sans-serif: "Lato", sans-serif;
$primary: $green;
$link: $green;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$size-2: 46px;

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/bulma";

@import "bulma/overrides";

body {
  color: $white !important;
}

h2 {
  color: $white !important;
  margin-bottom: 40px !important;
}
