/* Colors */
$white: #ffffff;
$beige-lighter: #eff0eb;
$green: #ced7b4;
$green-dark: #868b75;
$green-medium: #575c48;
$green-darkest: #464b3a;
$green-grey: #2c2e26;
$grey: #282923;
$grey-medium: #6e6e6e;
$grey-light: #666666;
$grey-lightest: #a9a9a9;
$black: #000000;

/* Fonts */
$weight-bold: 700;
